.caroussel {
  margin-top:50px;
	position: relative;
}
.caroussel,
.image {
	height: 15.9375rem;
  overflow: hidden;
}

.image {
	width: 100%;
	object-fit: cover;
	border-radius: 0.625rem;
}

.flechePrecedente,
.flecheSuivante {
	z-index: 1;
	position: absolute;
	top: 40%;
	width: 46.68px;
  height: 79.2px; 
	cursor: pointer;
}

.flechePrecedente {
	right: 0.3125rem;
	transform: rotate(180deg);
}

.flecheSuivante {
	left: 0.3125rem;
}

.slide {
	transform: translateY(500px);
	transition-duration: 1s;
}
.slide.active {
  width: 100%;
  transform: translateY(0);
  transition-duration: 1s;
}

/*** Medias Queries ***/
@media screen and (max-width: 992px) {
  .flecheSuivante,
  .flechePrecedente {
    width: 1.167rem;
    height: 1.98rem;
  }

	.active > img {
		height: 350px;
	}

	.caroussel {
		height: 15rem;
		overflow: hidden;
		margin-top: 0;
	}
}
@media screen and (max-width: 475px) {
  .caroussel {
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
    margin-top: 2rem;
  }

	.active > img {
		height: 235px;
	}

  .flecheSuivante,
  .flechePrecedente {
    width: 1.167rem;
    height: 1.98rem;
  }
}
