.ks-error {
  background-color:rgba(255, 0, 0, 0.62);
  border-color: red;
  border-radius: 10px;
  text-align: center;
  color: white;
  min-height: 50px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
}