@media screen and ( min-width:375px ) and ( max-width:800px)  {
  body {
    margin: auto 15px;
  }

  .ks-chezVous-img {
    background-image: url('../../static/assets/chezVous.png');
    width: 94vw;
    height: 111px;
    border-radius: 10px;
    border: 1px solid #000;
    opacity: 0.6;
    mix-blend-mode: darken;
  }

  .ks-chezVous-Text {
    width: 94vw;
    color: #FFF;
    font-family: Montserrat;
    border-radius: 10px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding-top: 45px;
    padding-bottom: 43px;
    background-color: #000;
    opacity: 0.9;
  }

  .ks-home-card-wrapper {
    width: calc(100% - 20px);
  }
}