.ks-cardLogement {
	position: relative;
	margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ks-cardLogement:hover {
	transform: scale(1.05);
	transition-duration: 0.5s;
}
.ks-cardLogement-cover img {
	object-fit: cover;
	border-radius: 0.625rem;
	filter: brightness(70%);
	height: 340px;
	width: 340px;
}
.ks-cardLogement-cover-title {
	z-index: 1;
	position: absolute;
	bottom: 20px;
	left: 25px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	line-height: 142.6%;
	width: 77%;
	font-family: Montserrat;
} 

@media screen and (max-width:475px)  {
	.ks-cardLogement-cover-title {
		left: 10px;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
	} 

	.ks-cardLogement-cover img {
		width: 100%;
		min-height: 340px;
	}
}

@media screen and (min-width:476px) and (max-width:830px)  {
	.ks-cardLogement-cover-title {
		left: 10px;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
	} 

	.ks-cardLogement-cover img {
		width: 100%;
		min-height: 340px;
	}
}

@media screen and (min-width:831px) and (max-width:1240px)  {
	.ks-cardLogement-cover img {
		width: 100%;
		min-height: 340px;
	}
}