header {
  display: flex;
  width: 1240px;
  height: 68px;
  justify-content: center;
  align-items: center;
  gap: 720.678px;
  margin-top: 45px;
}
.ks-logo {
  width: 210.322px;
  height: 68px;
  flex-shrink: 0;
  position: absolute;
  left: 0;
}
.ks-nav {
  display: flex;
  align-items: flex-start;
  gap: 57px;
  position: absolute;
  right: 0;
}
.ks-nav-link {
  color: #000;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.ks-nav-link.active {
  text-decoration-line: underline; 
}