html,
body {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  max-width: 1240px;
  margin: 0 auto;
  min-height: max-content;
}

#root {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}


@media screen and ( max-width:1240px)  {
  main {
    margin: 0 19.5px 0 19.5px;
  }
}